.issues-sortable-list .str-truncated {
  max-width: 90%;
}

.milestones {
  .milestone {
    padding: 10px 16px;

    h4 {
      font-weight: $gl-font-weight-bold;
    }

    .progress {
      width: 100%;
      height: 6px;
    }
  }
}

.milestone-content {
  .issues-count {
    margin-right: 17px;
    float: right;
    width: 105px;
  }

  .issuable-row {
    span a {
      color: $gl-text-color;
      word-wrap: break-word;
    }
  }

  .card-header {
    line-height: $line-height-base;
    padding: 14px 16px;
    display: -webkit-flex;
    display: flex;

    .title {
      -webkit-flex: 1;
      -webkit-flex-grow: 1;
      flex: 1;
      flex-grow: 2;
    }

    .counter {
      -webkit-flex: 1;
      flex: 0;
      padding-left: 16px;
    }
  }
}

.milestone-sidebar {
  .milestone-progress {
    .title {
      padding-top: 5px;
    }

    .progress {
      height: 6px;
      margin: 0;
    }

    .sidebar-collapsed-icon {
      clear: both;
      padding: 15px 5px 5px;

      .progress {
        margin: 5px 0;
      }
    }
  }

  .collapsed-milestone-date {
    font-size: 12px;
  }

  .milestone-date {
    display: block;
  }

  .date-separator {
    line-height: 5px;
  }

  .remaining-days strong {
    font-weight: $gl-font-weight-normal;
  }

  .milestone-stat {
    float: left;
    margin-right: 14px;
  }

  .milestone-stat:last-child {
    margin-right: 0;
  }

  .right-sidebar-expanded & {
    .gutter-toggle {
      margin-bottom: $sidebar-milestone-toggle-bottom-margin;
    }
  }

  .right-sidebar-collapsed & {
    .milestone-progress {
      padding-top: 0;
    }

    .reference {
      border-top: 1px solid $border-gray-normal;
    }
  }
}

.milestone-issues-list,
.milestone-merge_requests-list {
  .issuable-detail {
    display: block;
    margin-top: 7px;

    .issue-link {
      display: inline-block;
    }

    .issuable-number {
      color: $gl-text-color-secondary;
      margin-right: 5px;
    }

    .avatar {
      float: none;
    }

    > a:not(:last-of-type) {
      margin-right: 5px;
    }
  }
}

.milestone-detail {
  border-bottom: 1px solid $border-color;
  padding: 20px 0;
}

@include media-breakpoint-down(xs) {
  .milestone-actions {
    @include clearfix();
    padding-top: $gl-vert-padding;

    .btn:first-child {
      margin-left: 0;
    }
  }
}

.milestone-page-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;

  .status-box {
    margin-top: 0;
    order: 1;
  }

  .milestone-buttons {
    margin-left: auto;
    order: 2;

    .verbose {
      display: none;
    }
  }

  .header-text-content {
    order: 3;
    width: 100%;
  }

  @include media-breakpoint-up(xs) {
    .milestone-buttons .verbose {
      display: inline;
    }

    .header-text-content {
      order: 2;
      width: auto;
    }

    .milestone-buttons {
      order: 3;
    }
  }
}

.issuable-row {
  background-color: $white-light;
}

.milestone-deprecation-message {
  .popover {
    padding: 0;
  }

  .popover-body {
    padding: 0;
  }
}

.milestone-popover-body {
  padding: $gl-padding-8;
  background-color: $gray-light;
}

.milestone-popover-footer {
  padding: $gl-padding-8 $gl-padding;
  border-top: 1px solid $white-dark;
}

.milestone-popover-instructions-list {
  padding-left: 2em;

  > li {
    padding-left: 1em;
  }
}

@include media-breakpoint-down(xs) {
  .milestone-banner-text,
  .milestone-banner-link {
    display: inline;
  }
}

// EE-only

.burndown-hint.container-fluid {
  border: 1px solid $border-color;
  border-radius: $border-radius-default;
  position: relative;
  margin: $gl-padding 0;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;

  .dismiss-icon {
    position: absolute;
    right: $gl-padding;
    cursor: pointer;
    color: $cycle-analytics-dismiss-icon-color;
    z-index: 1;
  }

  .svg-container {
    text-align: center;

    svg {
      max-width: 200px;
      max-height: 200px;
    }
  }

  .inner-content {
    @include media-breakpoint-down(xs) {
      padding: 0 28px;
      text-align: center;
    }

    h4 {
      color: $gl-text-color;
      font-size: 17px;
    }

    p {
      color: $cycle-analytics-box-text-color;
      margin-bottom: $gl-padding;
    }
  }
}

.burndown-docs-link {
  color: inherit;
  text-decoration: underline;
}

.burndown-header {
  margin: 24px 0 12px;

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .btn-group {
    margin-left: 20px;
    margin-bottom: 2px;
  }

  .btn {
    @include btn-outline($white-light, $blue-500, $blue-500, $blue-500, $white-light, $blue-600, $blue-600, $blue-700);

    font-size: 12px;

    &.active {
      background-color: $blue-500;
      border-color: $blue-600;
      color: $white-light;
    }
  }
}

.burndown-chart {
  width: 100%;
  height: 380px;
  margin: 5px 0;

  @include media-breakpoint-down(sm) {
    height: 320px;
  }

  @include media-breakpoint-down(xs) {
    height: 200px;
  }

  .axis {
    font-size: 12px;

    line,
    path {
      fill: none;
      stroke: $stat-graph-axis-fill;
      shape-rendering: crispEdges;
    }
  }

  .axis-label {
    text {
      fill: $gl-text-color-secondary;
    }

    line {
      stroke: $border-color;
    }
  }

  .legend {
    shape-rendering: crispEdges;

    text {
      font-size: 13px;
      fill: $gl-text-color-tertiary;
    }

    rect {
      stroke: $border-color;
      fill: none;
    }
  }

  .line {
    stroke-width: 2px;
    fill: none;

    &.actual {
      stroke: $gl-success;
    }

    &.ideal {
      stroke: $stat-graph-axis-fill;
      stroke-dasharray: 6px 6px;
    }
  }

  .focus {
    circle {
      fill: $white-light;
      stroke: $gl-success;
      stroke-width: 2px;
    }
  }

  .chart-tooltip {
    text {
      font-size: 12px;
      fill: $white-light;
    }

    rect {
      fill: $black;
    }
  }
}
